@keyframes fillColor {
    0% {
        scale: 1;
    }
    50%, 100% {
        scale: 13;
    }
}

.card__container {
    font-family: 'Poppins', sans-serif;
    width: 350px;
    height: 250px;
    background-color: rgb(73, 36, 68);
    border-radius: 9px;
    margin: 25px auto;
    padding: 10px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.card__container::after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: rgb(44, 93, 227);
    position: absolute;
    border-radius: 50%;
    top: -30px;
    right: -20px;
    overflow: hidden;
    scale: 1;
    z-index: -1;
}

.card__container:hover::after{
   animation: fillColor 0.75s ease-in normal forwards;
}
.card__container:hover h2, 
.card__container:hover p {
    color: black;
    fill: black;
    transition: all 3s;
}

.card__container h2 {
    text-align: center;
}

.card__container p {
    font-size: 70px;
    color: rgb(171, 234, 133);
    text-align: center;
    margin-top: 15px;
    display: inline-block;

}

.card__container .icon {
    display: inline-block;
    font-size: 70px;
    margin-right: 6px;
    fill: rgb(185, 135, 135);
}

.card__container :nth-child(4) {
    font-size: 20px;
}
