@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.footer {
    display: flex;
    gap: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: absolute;
    bottom: 5px;
    left: 5px;

}
.footer :nth-child(2){
    color: brown;
    font-weight: bold;
}

.footer :nth-child(3) {
    font-size: 30px;
animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}